<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi <%= @drop.name %></h1>
<p>
  You rode the Greenpeace drop slide at Glastonbury! Here's a gif of you falling....
</p>
</body>
</html>