<div style="text-align: center">

  <div id="connection-warning" style="display: none; margin: 10px; color: red">ERROR CONNECTING TO WEBAPP!</div>

  <div id="drop" style="display: none; margin: 50px">
    <img id="drop-image" src="<%= @location %>">
    <br/>
    <br/>
    <br/>
    <a id="open-drop" class="btn btn-lg btn-primary" href="/">Open This Drop</a>
  </div>

  <div id="no-drop" style="display: none; margin: 20px">
    <br/>
    <br/>
    <h1>Waiting for images....</h1>
  </div>



</div>

<script>

  $(function () {
    $("#go-latest").removeClass("btn-default").addClass("btn-primary");
    $("#drop-image").click(function() {
      window.location = $("#open-drop").attr("href");
    });
    setInterval(function () {
      $.ajax({
        url: '/last_drop_image',
        method: 'GET',
        success: function (resp) {
          $("#open-drop").attr("href", "/drop/"+resp.id);
          $("#connection-warning").hide();
          var $img = $("#drop-image");
          if ($img.attr("src") != resp.src) {
            $img.attr("src", resp.src);
          }
          if (resp.length==0) {
            $("#no-drop").show();
            $("#drop").hide();
          } else {
            $("#no-drop").hide();
            $("#drop").show();
          }
        },
        error: function (resp) {
          $("#connection-warning").show();
          $("#drop").hide();
          $("#no-drop").hide();
        }
      })
    }, 1000);
  });

</script>
