<div style="margin: auto; border-bottom: 1px solid black">
  <div style="margin:0; padding: 5px; width: 48%; display: inline-block">
    <h2>Greenpeace Drop Slide</h2>
  </div>
  <div style="float:right; margin-top:12px; padding: 5px; display: inline-block; text-align: right">
    <a id='go-latest' href="/" class="btn btn-lg btn-default">Latest Drop</a>
    <a id='go-all' href="/drops" class="btn btn-lg btn-default">All Drops</a>
  </div>
</div>